body{
    background-color: slategray;
    text-align: center;
}
img {
    width: auto;
    height: auto;
    max-width: 100%;
}

h1 {
    text-align: center;
    font-size: 69px;
    background-color: crimson;
    color: black;
}

h2 {
    text-align: center;
    font-size: 42px;
    background-color: crimson;
    color: black;
}

li {
    color: black;
    font-size: 24px;
    position: relative;
    text-align: center;
}

p {
    font-size: 24px;
    text-align: center;
}

ul {
    list-style: inside;
}

ol {
    list-style-position: inside;
}

button {
    background-color: gold;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 24px;
}